
<mat-card class="flex-column flex-gap" style="width: 100%; padding:8px;">
    <div *ngIf="!hideQuery">
        <mat-form-field appearance="outline" class="dense-form-field" style="width: 100%;">
            <mat-label>Query</mat-label>
            <textarea matInput [(ngModel)]="execQuery" placeholder="Query a ejecutar" rows="5"></textarea>
        </mat-form-field>
    </div>
    <div class="flex-row flex-gap" style="align-items: center;">
        <span>Limit:</span>
        <div>
            <mat-form-field class="small-search-input" appearance="outline">
                <input matInput type="number" [(ngModel)]="limitQuery" placeholder="Limit">
            </mat-form-field>
        </div>
        <span>*solo para resultados en el navegador</span>
        <div class="flex-fill"></div>
    </div>
    <div class="flex-row flex-gap action-panel">
        <section class="flex-row flex-gap">
            <button [disabled]="!execQuery" mat-raised-button (click)="execQuery = ''" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'" *ngIf="!hideQuery">
                Limpiar Query
            </button>
            <button [disabled]="!execQuery" mat-button (click)="hideQuery = true" [attr.aria-label]="'Hide Query'" [attr.aria-pressed]="'hideQuery'" *ngIf="!hideQuery && dataSource.length > 0">
                <mat-icon>remove_red_eye</mat-icon> Ocultar Query
            </button>
            <button [disabled]="!execQuery" mat-raised-button (click)="hideQuery = false" [attr.aria-label]="'Edit Query'" [attr.aria-pressed]="'editQuery'" *ngIf="hideQuery" color="info">
                <mat-icon>edit</mat-icon> Editar Query
            </button>
        </section>
        <div class="flex-fill"></div>
        <button mat-raised-button color="accent" (click)="executeQuery()" [disabled]="!execQuery">
            <mat-icon>{{(hideQuery)?'refresh':'play_arrow'}}</mat-icon> {{(hideQuery)?'Recargar':'Ejecutar'}}
        </button>
        <button mat-raised-button color="primary" [class.button-spinner]="isLoadingExcel" (click)="downloadReport()" [disabled]="!execQuery || isLoadingExcel">
            <mat-icon *ngIf="!isLoadingExcel">archive</mat-icon> {{(isLoadingExcel)?'Generando...':'Descargar'}}
        </button>
    </div>
</mat-card>

<section class="flex-row flex-gap info-results">
    <section class="item flex-fill">Total Resultados: {{totalResults}}</section>
    <section class="item flex-fill">No de Columnas: {{totalColumns}}</section>
    <section class="item flex-fill">Tiempo de Ejecución: {{execTime}}</section>
    <section class="item"><button mat-raised-button [disabled]="(dataSource.length == 0 && totalColumns == 0)" (click)="clearResults()"><mat-icon>backspace</mat-icon> Limpiar Resultados</button></section>
</section>

<mat-card class="table-card flex-fill">
    <div class="flex-column" style="height: 100%;">
        <div class="main-list-table flex-fill">
            <table #reultsTable mat-table [dataSource]="dataSource">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
                
                <ng-container matColumnDef="noResultsFound">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                        <span>No se encontraron registros </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="loadingResults">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                        <span>--| Cargando Resultados |--</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="executionError">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                        <span>{{errorMessage}}</span>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>

                <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="not-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0) || isLoading || errorMessage}"></tr>
                <tr mat-footer-row *matFooterRowDef="['loadingResults']" class="not-results-found" [ngClass]="{'hide':!isLoading}"></tr>
                <tr mat-footer-row *matFooterRowDef="['executionError']" class="execution-error"   [ngClass]="{'hide':!errorMessage}"></tr>
            </table>
        </div>
    </div>
</mat-card>

<!--mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadResultsData($event)"></mat-paginator-->
