

<mat-card class="flex-column flex-gap xs-max-height-seguimiento-form" style="padding: 8px;" [formGroup]="formSeguimiento">

    <div class="flex-row flex-xs-column flex-fill flex-gap">


        <mat-form-field appearance="fill" class="flex-fill" *ngIf="!catalogos['status_seguimiento']">
            <mat-label>Status del Seguimiento: </mat-label>
            <input matInput formControlName="status_seguimiento_id">
            <mat-hint>Escribe el Status del Seguimiento</mat-hint>
            <mat-error *ngIf="formSeguimiento.get('status_seguimiento_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-fill" *ngIf="catalogos['status_seguimiento']">
            <mat-label>Status del Seguimiento: </mat-label>
            <input type="text" aria-label="status_seguimiento" matInput formControlName="status_seguimiento_id" [matAutocomplete]="estatusSequimientoAutocomplete" required>
            <mat-autocomplete #estatusSequimientoAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                <mat-option *ngFor="let item of filteredCatalogs['status_seguimiento'] | async" [value]="item">
                    {{item.descripcion}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="!formSeguimiento.get('status_seguimiento_id').value">Selecciona una el Area de Atención de la lista</mat-hint>
            <mat-hint [style.text-align]="'start'" *ngIf="formSeguimiento.get('status_seguimiento_id').value"></mat-hint>
            <mat-error *ngIf="formSeguimiento.get('status_seguimiento_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>



        <mat-form-field appearance="fill" class="flex-fill" *ngIf="!catalogos['tipo_equipo']">
            <mat-label>Tipo Equipo: </mat-label>
            <input matInput formControlName="tipo_equipo_id">
            <mat-hint>Escribe el Area Atención</mat-hint>
            <mat-error *ngIf="formSeguimiento.get('tipo_equipo_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-fill" *ngIf="catalogos['tipo_equipo']">
            <mat-label>Tipo Equipo: </mat-label>
            <input type="text" aria-label="tipo_equipo" matInput formControlName="tipo_equipo_id" [matAutocomplete]="tipoEquipoAutocomplete" required >
            <mat-autocomplete #tipoEquipoAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                <mat-option *ngFor="let item of filteredCatalogs['tipo_equipo'] | async" [value]="item">
                    {{item.descripcion}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="!formSeguimiento.get('tipo_equipo_id').value">¡Selecciona un Tipo de Equipo de la lista!</mat-hint>
            <mat-hint [style.text-align]="'start'" *ngIf="formSeguimiento.get('tipo_equipo_id').value"></mat-hint>
            <mat-error *ngIf="formSeguimiento.get('tipo_equipo_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

    </div>
    <div class="flex-row flex-xs-column flex-fill flex-gap">

        <mat-form-field appearance="fill" class="flex-fill" *ngIf="!catalogos['areas_atencion']">
            <mat-label>Area de Atención: </mat-label>
            <input matInput formControlName="area_atencion_id">
            <mat-hint>Escribe el Area Atención</mat-hint>
            <mat-error *ngIf="formSeguimiento.get('area_atencion_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-fill" *ngIf="catalogos['areas_atencion']">
            <mat-label>Area de Atención: </mat-label>
            <input type="text" aria-label="area_atencion" matInput formControlName="area_atencion_id" [matAutocomplete]="areaAtencionAutocomplete" required (blur)="checkAutocompleteValue('area_atencion_id')">
            <mat-autocomplete #areaAtencionAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" (optionSelected)="cargarTiposProblema($event)">
                <mat-option *ngFor="let item of filteredCatalogs['areas_atencion'] | async" [value]="item">
                    {{item.descripcion}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="!formSeguimiento.get('area_atencion_id').value">Selecciona una el Area de Atención de la lista</mat-hint>
            <mat-hint [style.text-align]="'start'" *ngIf="formSeguimiento.get('area_atencion_id').value"></mat-hint>
            <mat-error *ngIf="formSeguimiento.get('area_atencion_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-fill" *ngIf="!catalogos['tipos_problema']">
            <mat-label>Tipo de Problema: </mat-label>
            <input matInput formControlName="tipo_problema_id">
            <mat-hint>Escribe el Area Atención</mat-hint>
            <mat-error *ngIf="formSeguimiento.get('tipo_problema_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-fill" *ngIf="catalogos['tipos_problema']">
            <mat-label>Tipo de Problema: </mat-label>
            <input type="text" aria-label="tipo_problema" matInput formControlName="tipo_problema_id" [matAutocomplete]="areaAtencionAutocomplete" required >
            <mat-autocomplete #areaAtencionAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                <mat-option *ngFor="let item of filteredCatalogs['tipos_problema'] | async" [value]="item">
                    {{item.descripcion}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="!formSeguimiento.get('tipo_problema_id').value">Selecciona un Tipo de Problema de la lista</mat-hint>
            <mat-hint [style.text-align]="'start'" *ngIf="formSeguimiento.get('tipo_problema_id').value"></mat-hint>
            <mat-error *ngIf="formSeguimiento.get('tipo_problema_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

    </div>
    <div class="flex-row flex-xs-column flex-fill flex-gap">

        

        <mat-form-field appearance="fill" class="flex-fill">
            <mat-label>Descripción del Problema: </mat-label>
            <textarea matInput formControlName="descripcion_problema" placeholder="Descripción del Problema"></textarea>
            <mat-hint>Escribe la Descripción del Problema</mat-hint>
            <mat-error *ngIf="formSeguimiento.get('descripcion_problema').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill" class="flex-fill">
            <mat-label>Observaciones del Problema: </mat-label>
            <textarea matInput formControlName="observaciones_problema" placeholder="Observación del Problema"></textarea>
            <mat-hint>Escribe las Observaciones del Problema</mat-hint>
            <mat-error *ngIf="formSeguimiento.get('observaciones_problema').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

    </div>
</mat-card>