<section class="flex-row flex-justify-center not-found">
    <mat-card style="width: 400px;">
      <div class="flex-row flex-gap" style="padding: 8px;">
        <div style="margin:10px; display: flex; align-items: center;">
          <mat-icon color="warn" style="transform: scale(4); margin:1em;">error</mat-icon>
        </div>
        <section class="flex-fill mat-typography">
          <br>
          <h1 style="font-weight: bold;">Parece que te has perdido</h1>
          <h2>Lo sentimos, la página que estas buscando no existe.</h2>
        </section>
      </div>
      <mat-divider></mat-divider>
      <mat-card-actions class="flex-column flex-justify-center">
        <a mat-button routerLink="/">Ir a la página principal</a>
      </mat-card-actions>
    </mat-card>
  </section>