.background {
    min-height:100%;
    background: url('../../../assets/bg-c.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    text-align: center;
    padding: 30px;
}

.panel-message{
    padding: 8px;
    background-color: hsl(203, 92%, 75%);
    color: hsl(180, 25%, 25%);
}

.panel-message span{
    font-weight: 600;
}

.confirm-icon{
    background-color: hsl(203, 92%, 90%);
    border-radius: 50%;
    margin: auto;
    width: 50px;
    height: 50px;
}

.confirm-icon .mat-icon{
    height: 50px;
    width: 50px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.error-message{
    background-color: hsl(0, 100%, 60%);
    color: hsl(63, 100%, 45%);
    padding: 8px;
    text-align: left;
}