<section *ngIf="!success" class="flex-column flex-gap" style="padding:8px;">
    <div>
      Para el proceso de restablecer su contraseña, por favor ingrese su nombre de usuario o el correo electronico con el que se le dio de alta en el sistema.
    </div>
    <div class="flex-row flex-gap">
      <mat-form-field class="flex-fill" appearance="fill">
        <mat-label>Usuario o Correo Electronico</mat-label>
        <input type="text" matInput placeholder="Usuario o Email" [formControl]="userMail" (keyup.enter)="resetPassword()" autocomplete="off" required>
        <mat-icon matSuffix>contact_mail</mat-icon>
        <mat-error *ngIf="userMail.hasError('notFound')">El usuario es inválido</mat-error>
      </mat-form-field>
      <button mat-fab color="primary" [disabled]="userMail.invalid || isLoading" (click)="resetPassword()"><mat-icon>send</mat-icon></button>
    </div>
    <div>
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>
      <div class="error-message" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-fill"></div>
      <button mat-button (click)="cerrar()">Cancelar</button>
    </div>
</section>
<section *ngIf="success" class="panel-message flex-column flex-gap">
  <div class="flex-fill flex-row flex-gap">
    <div class="confirm-icon">
      <mat-icon>mark_email_read</mat-icon>
    </div>
    <div class="flex-fill">
      Se ha enviado un correo electronico a <span>{{sentTo}}</span> para continuar con el proceso de restablecimiento de la contraseña.
    </div>
  </div>
  <div class="flex-row">
    <div  class="flex-fill"></div>
    <button mat-button (click)="cerrar()">Cerrar</button>
  </div>
</section>