<div class="flex-row flex-gap module-search-bar">
    <mat-form-field class="flex-fill" appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applySearch()" placeholder="Buscar usuario" autocomplete="off">
        <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button matSuffix (click)="applySearch()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <button mat-icon-button (click)="exportPDF()" [disabled]="isLoadingPDF">
        <mat-icon svgIcon="pdf-icon"></mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="openDialogUser()" [matTooltip]="'Nuevo Usuario'"><mat-icon>add</mat-icon></button>
</div>

<div>
    <alert-panel></alert-panel>
    <mat-progress-bar *ngIf="isLoadingPDF" mode="query"></mat-progress-bar>
</div>

<mat-card class="table-card flex-fill">
    <div class="flex-column" style="height: 100%;">
        <div class="main-list-table left-click-open flex-fill">
            <table mat-table [dataSource]="data" matSort matSortActive="updated_at" matSortDirection="desc">
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef width="1">Estatus</th>
                    <td mat-cell *matCellDef="let row">
                        <div mat-card-avatar class="avatar-with-status">
                            <img src="{{row.avatar}}" alt="" style="width:auto; margin:auto">
                            <mat-icon class="status-{{statusDesc[row.status].key}} status-icon">{{statusDesc[row.status].icon}}</mat-icon>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef width="1" mat-sort-header>Usuario</th>
                    <td mat-cell *matCellDef="let row" width="1">
                        {{row.username}}
                        <span class="extra-data hide-gt-sm" style="white-space: nowrap;">{{row.email}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="hide-xs">Nombre Completo</th>
                    <td mat-cell *matCellDef="let row" class="hide-xs">{{row.name}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef width="1" class="hide-sm hide-xs">Correo</th>
                    <td mat-cell *matCellDef="let row" width="1" class="hide-sm hide-xs">{{row.email}}</td>
                </ng-container>

                <ng-container matColumnDef="last_login_at">
                    <th width="1" style="white-space: nowrap;" mat-header-cell *matHeaderCellDef mat-sort-header>Ultima Sesión</th>
                    <td mat-cell *matCellDef="let row" style="white-space: nowrap; text-align: center;">
                        <span *ngIf="!row.last_login_at">Nunca</span>
                        <span *ngIf="row.last_login_at">
                            {{row.last_login_at | date:'dd - MMM - y'}}<br>
                            {{row.last_login_at | date:'h:mm a'}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="updated_at">
                    <th width="1" mat-header-cell *matHeaderCellDef mat-sort-header disableClear class="hide-sm hide-xs">
                        Actualizado
                    </th>
                    <td mat-cell *matCellDef="let row" style="white-space: nowrap; text-align: center;" class="hide-sm hide-xs">{{row.updated_at | date:'dd - MMM - y'}}</td>
                </ng-container>

                <ng-container matColumnDef="loadingResults">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found">
                        --| Cargando Registros |--
                        <mat-progress-bar mode="query"></mat-progress-bar>
                    </td>
                </ng-container>

                <ng-container matColumnDef="noResultsFound">
                    <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-results-found" >
                        No se encontraron registros 
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialogUser(row.id)" [cdkContextMenuTriggerFor]="rowMenu" [cdkContextMenuTriggerData]="{id:row.id,status:row.status}"></tr>
                <tr mat-footer-row *matFooterRowDef="['loadingResults']" [ngClass]="{'hide':!isLoadingResults}"></tr>
                <tr mat-footer-row *matFooterRowDef="['noResultsFound']" [ngClass]="{'hide':!(data!=null && data.length==0 && !isLoadingResults)}"></tr>
            </table>
        </div>
        <div>
            <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Selecciona una página"></mat-paginator>
        </div>
    </div>
</mat-card>

<ng-template #rowMenu let-id="id" let-status="status">
    <div class="context-menu mat-elevation-z2" cdkMenu>
        <button class="context-menu-item" cdkMenuItem (click)="openDialogUser(id)"><mat-icon>edit</mat-icon>&nbsp;Editar</button>
        <button class="context-menu-item" cdkMenuItem (click)="changeStatusUser(id,2)" style="color: green;" *ngIf="status == 4"><mat-icon>done_outline</mat-icon>&nbsp;Activar Usuario</button>
        <button class="context-menu-item" cdkMenuItem (click)="changeStatusUser(id,4)" style="color: red;" *ngIf="status != 4"><mat-icon>block</mat-icon>&nbsp;Banear Usuario</button>
    </div>
</ng-template>