<section class="flex-row" style="width:100%; justify-content: center;">
    
        <mat-card class="flex-column" style="padding: 8px;">
            <div style="padding: 5px; font-weight: 700;">
                Establecer Nueva Contraseña:
            </div>
            <div class="flex-row flex-xs-column flex-gap" [formGroup]="formPasswords">
                <div>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Contraseña:</mat-label>
                        <input matInput formControlName="new_password" placeholder="Contraseña" [type]="showPassword ? 'text' : 'password'" required>
                        <button mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Show password'" [attr.aria-pressed]="showPassword" tabindex="-1">
                            <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-hint align="end">{{formPasswords.get('new_password').value.length || 0}}</mat-hint>
                        <mat-error *ngIf="formPasswords.get('new_password').hasError('minlength')">Debe contener al menos 8 caracteres</mat-error>
                        <mat-error *ngIf="formPasswords.get('new_password').hasError('required')">La Contraseña es obligatoria</mat-error>
                    </mat-form-field>
                </div>
                
                <div>
                    <strength-checker barLabel="Fortaleza: " [passwordToVerify]="formPasswords.get('new_password').value" (passwordStrength)="passwordValid($event)"></strength-checker>
                </div>
                
                <div>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Confirmar Contraseña:</mat-label>
                        <input matInput formControlName="confirm_password" placeholder="Confirmar Contraseña" (keyup.enter)="resetPassword()" [type]="showConfirmPassword ? 'text' : 'password'" required>
                        <button mat-icon-button matSuffix (click)="showConfirmPassword = !showConfirmPassword" [attr.aria-label]="'Show password'" [attr.aria-pressed]="showConfirmPassword" tabindex="-1">
                            <mat-icon>{{showConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-hint align="end">{{formPasswords.get('confirm_password').value.length || 0}}</mat-hint>
                        <mat-error *ngIf="formPasswords.get('confirm_password').hasError('required')">Confirmar Contraseña</mat-error>
                        <mat-error *ngIf="formPasswords.get('confirm_password').hasError('fieldMatch')">Las contraseñas no coinciden</mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div style="padding-bottom: 5px;">
                <alert-panel></alert-panel>
                <mat-progress-bar mode="indeterminate" *ngIf="isLoading" ></mat-progress-bar>
            </div>
            
            <div class="flex-row">
                <div class="flex-fill"></div>
                <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="isLoading || formPasswords.invalid">Aceptar</button>
            </div>
        </mat-card>
    
</section>