<section class="flex-column" style="height: 100%; overflow: hidden; flex: 1 1 0%;" (document:keydown.escape)="cancelarAccion()"> <!-- Main Body <<<<<<< -->
    <section class="dialog-toolbar"> <!-- Toolbar Menu <<<<<<< -->
        <div class="flex-row">
            <div class="label-info" *ngIf="!statusUser">
                Agregar Equipo
            </div>
            <button mat-button [matMenuTriggerFor]="menuUsuario" aria-label="Menu de Usuarios" [disabled]="isLoading || isSaving"  *ngIf="statusUser">
                <mat-icon>settings</mat-icon><span class="hide-xs">Opciones&nbsp;</span><mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menuUsuario="matMenu">
                <button mat-menu-item  *ngIf="equipo" >
                    <mat-icon>outgoing_mail</mat-icon> 
                    <span>Cambio de Contraseña</span>
                </button>
                <mat-divider></mat-divider>
            </mat-menu>
            <button mat-button (click)="guardarTicket()" [disabled]="isLoading || isSaving || !formEquipo.valid">
                <mat-icon>{{'save'}}</mat-icon><span class="hide-xs">&nbsp;Guardar</span>
            </button>
            <div class="flex-fill"></div>
            <div *ngIf="isRoot" class="root-access">
                &LeftAngleBracket;&LeftAngleBracket; root &RightAngleBracket;&RightAngleBracket;
            </div>
            <div class="label-info screen-size-icon" *ngIf="currentScreenSize == 'xs' || currentScreenSize == 'sm'">
                <mat-icon>phone_iphone</mat-icon>
            </div>
            <button mat-button class="boton-accion" (click)="resizeDialog()" [matTooltip]="(dialogMaxSize)?'Restaurar':'Maximizar'" [matTooltipPosition]="'left'" tabindex="-1" *ngIf="currentScreenSize != 'xs' && currentScreenSize != 'sm'">
                <mat-icon>{{(dialogMaxSize)?'fit_screen':'fullscreen'}}</mat-icon>
            </button>
            <button class="boton-accion boton-cerrar" mat-button (click)="cerrar()" tabindex="-1"><mat-icon>close</mat-icon></button>
        </div>
    </section> <!-- <<<<<<< Toolbar Menu -->
    <mat-progress-bar *ngIf="isLoading || isSaving" [mode]="(isSaving)?'indeterminate':'query'" [color]="(isSaving )?'accent':'primary'"></mat-progress-bar>
    <section>
        <alert-panel></alert-panel>
    </section>

    <section class="flex-fill flex-column" style="padding:8px; overflow: auto;">
        <div class="flex-fill flex-column flex-gap">
            <mat-tab-group [color]="'primary'" animationDuration="0ms" class="flex-fill full-height-tabs equipos-tabs">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>devices</mat-icon><span class="hide-xs">&nbsp; Datos del Equipo </span>
                    </ng-template>
                    
                    <mat-card class="flex-column flex-gap xs-max-height-equipo-form" style="padding: 8px;" [formGroup]="formEquipo">

                        <div class="flex-row flex-xs-column flex-fill flex-gap">

                            <mat-form-field appearance="fill" class="flex-fill" *ngIf="!catalogos['tipo_equipo']">
                                <mat-label>Tipo Equipo: </mat-label>
                                <input matInput formControlName="tipo_equipo">
                                <mat-hint>Escribe el Area Atención</mat-hint>
                                <mat-error *ngIf="formEquipo.get('tipo_equipo').hasError('required')">Este campo es obligatorio</mat-error>
                            </mat-form-field>
                    
                            <mat-form-field appearance="fill" class="flex-fill" *ngIf="catalogos['tipo_equipo']">
                                <mat-label>Tipo Equipo: </mat-label>
                                <input type="text" aria-label="tipo_equipo" matInput formControlName="tipo_equipo" [matAutocomplete]="tipoEquipoAutocomplete" required >
                                <mat-autocomplete #tipoEquipoAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')">
                                    <mat-option *ngFor="let item of filteredCatalogs['tipo_equipo'] | async" [value]="item">
                                        {{item.descripcion}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint *ngIf="!formEquipo.get('tipo_equipo').value">¡Selecciona un Tipo de Equipo de la lista!</mat-hint>
                                <mat-hint [style.text-align]="'start'" *ngIf="formEquipo.get('tipo_equipo').value"></mat-hint>
                                <mat-error *ngIf="formEquipo.get('tipo_equipo').hasError('required')">Este campo es obligatorio</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="flex-fill" >
                                <mat-label>Marca: </mat-label>
                                <input matInput formControlName="marca">
                                <mat-hint>Escribe el nombre de la Persona</mat-hint>
                                <mat-error *ngIf="formEquipo.get('marca').hasError('required')">Este campo es obligatorio</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="flex-fill" >
                                <mat-label>Modelo: </mat-label>
                                <input matInput formControlName="modelo">
                                <mat-hint>Escribe el nombre de la Persona</mat-hint>
                                <mat-error *ngIf="formEquipo.get('modelo').hasError('required')">Este campo es obligatorio</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="flex-fill" >
                                <mat-label>No Serie: </mat-label>
                                <input matInput formControlName="no_serie">
                                <mat-hint>Escribe el nombre de la Persona</mat-hint>
                                <mat-error *ngIf="formEquipo.get('no_serie').hasError('required')">Este campo es obligatorio</mat-error>
                            </mat-form-field>

                        </div>

                        <div class="flex-row flex-xs-column flex-fill flex-gap">

                            <mat-form-field appearance="fill" class="flex-fill" >
                                <mat-label>No Inventario: </mat-label>
                                <input matInput formControlName="no_inventario">
                                <mat-hint>Escribe el nombre de la Persona</mat-hint>
                                <mat-error *ngIf="formEquipo.get('no_inventario').hasError('required')">Este campo es obligatorio</mat-error>
                            </mat-form-field>

                            <section class="checkbox-section">
                                <mat-checkbox (change)="es_personal($event)" formControlName="equipo_personal">¿Es equipo personal?</mat-checkbox>
                            </section>

                        </div>
                        <br>
                        <div class="flex-row">
                            <button class="flex-xs-fill" mat-raised-button color="primary" (click)="agregarEquipos(formEquipo);" [disabled]="!formEquipo.valid || isEdit">
                                <mat-icon>{{'group_add'}}</mat-icon><span class="hide-xs">&nbsp;Agregar</span>
                            </button>
                            &nbsp;
                            <button  class="flex-xs-fill" mat-raised-button color="green" (click)="saveEditEquipo(formEquipo);" [disabled]="!isEdit">
                                <mat-icon>{{'save'}}</mat-icon><span class="hide-xs">&nbsp;Guardar</span>
                            </button>
                        </div>

                    </mat-card>

                </mat-tab>
            </mat-tab-group>

            <mat-card class="table-card flex-fill">
                <div class="flex-column" style="height: 80%;">
                    <div class="main-list-table left-click-open flex-fill">

                        <table #tableEquipos mat-table [dataSource]="dataSourceEquipos" >
            
                            <ng-container matColumnDef="no">
                                <th mat-header-cell *matHeaderCellDef class="hide-sm hide-xs"> # </th>
                                <td mat-cell *matCellDef="let element; let i = index;" class="hide-sm hide-xs"> {{i+1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="marca">
                                <th mat-header-cell *matHeaderCellDef> Marca </th>
                                <td mat-cell *matCellDef="let element"> {{ element.marca }} </td>
                            </ng-container>

                            <ng-container matColumnDef="no_serie">
                                <th mat-header-cell *matHeaderCellDef> N°. Serie </th>
                                <td mat-cell *matCellDef="let element"> {{ element.no_serie }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="no_inventario">
                                <th mat-header-cell *matHeaderCellDef> N°. Inventario </th>
                                <td mat-cell *matCellDef="let element"> {{ element.no_inventario }} </td>
                            </ng-container>

                            <ng-container matColumnDef="es_personal">
                                <th mat-header-cell *matHeaderCellDef> ¿Es personal? </th>
                                <td mat-cell *matCellDef="let element"> {{ (element?.equipo_personal === true) ? 'SI' : 'NO' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="tipo_equipo_id">
                                <th mat-header-cell *matHeaderCellDef> Tipo de Equipo </th>
                                <td mat-cell *matCellDef="let element"> {{ element.tipo_equipo?.descripcion }} </td>
                            </ng-container>

            
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    <button mat-icon-button color="warn" (click)="quitarEquipo(element, i)" [disabled]="isEdit"><mat-icon>delete</mat-icon></button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumnsEquipos.length" class="no-results-found" >
                                    No hay equipos agregados 
                                </td>
                            </ng-container>

            
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumnsEquipos;" [cdkContextMenuTriggerFor]="rowMenu" [cdkContextMenuTriggerData]="{data:row, index:i}"></tr>
                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" [ngClass]="{'hide':!(dataEquipos!=[] && dataEquipos.length==0)}"></tr>
                        </table>
                    </div>
                    <div>
                        <mat-paginator [pageIndex]="0" [pageSizeOptions]="[3, 6, 9]" [pageSize]="pageSize" showFirstLastButtons aria-label="Selecciona una página"></mat-paginator>
                    </div>
                </div>
                
                <ng-template #rowMenu let-data="data" let-index="index">
                    <div class="context-menu mat-elevation-z2" cdkMenu>
                        <button class="context-menu-item" (click)="editRowEquipo(data)" cdkMenuItem><mat-icon>edit</mat-icon>&nbsp;Editar</button>
                        <!-- <button class="context-menu-item" color="warn" (click)="quitarColaborador(index)" cdkMenuItem><mat-icon>delete</mat-icon>&nbsp;Eliminar</button> -->
                    </div>
                </ng-template>
            </mat-card>
            
        </div>
    </section>
</section>