/*XSmall*/
@media(max-width: 599.98px){
    .hide-xs{
        display: none !important;
    }

    .flex-xs-column{
        flex-direction: column !important;
       -ms-flex-direction: column !important;
    }

    .flex-xs-row{
        flex-direction: row !important;
       -ms-flex-direction: row !important;
    }

    .flex-xs-fill{
        flex-grow: 1;
    }

    .xs-unlock-height{
        height: unset !important;
    }
}

@media (min-width:600px) {
    .hide-gt-xs{
        display: none !important;
    }
}

/*Small*/
@media(min-width: 600px) and (max-width: 959.98px){
    .hide-sm{
        display: none !important;
    }
}

@media (min-width:960px) {
    .hide-gt-sm{
        display: none !important;
    }
}

/*Medium*/
@media(min-width: 960px) and (max-width: 1279.98px){}

/*Large*/
@media(min-width: 1280px) and (max-width: 1919.98px){}

/*XLarge*/
@media(min-width: 1920px){}

/*Handset*/
@media(max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape){}

/*Tablet*/
@media(min-width: 600px) and (max-width: 839.98px) and (orientation: portrait), (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape){}

/*Web*/
@media(min-width: 840px) and (orientation: portrait), (min-width: 1280px) and (orientation: landscape){}

/*HandsetPortrait*/
@media(max-width: 599.98px) and (orientation: portrait){}

/*TabletPortrait*/
@media(min-width: 600px) and (max-width: 839.98px) and (orientation: portrait){}

/*WebPortrait*/
@media(min-width: 840px) and (orientation: portrait){}

/*HandsetLandscape*/
@media(max-width: 959.98px) and (orientation: landscape){}

/*TabletLandscape*/
@media(min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape){}

/*WebLandscape*/
@media(min-width: 1280px) and (orientation: landscape){}
